html,
body {
  font-family: 'Outfit', sans-serif;
  background: transparent;
  color: #4d4d4d;
  font-size: 16px;
  height: 100%;
}

#root input[type='text'],
#root input[type='password'],
#root input[type='search'],
#root input[type='email'],
#root input[type='url'],
#root input[type='tel'],
#root input[type='number'],
#root input[type='range'],
#root input[type='date'],
#root textarea {
  border: 0 !important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87) !important;
  box-shadow: none !important;
  background-color: transparent !important;
  font-size: 16px !important;
  padding: 18.5px 14px !important;
  height: 1.1876em !important;
  width: 100% !important;
  max-width: 100% !important;
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

#root {
  font-family: 'Outfit';
  background: transparent;
  color: #747474;
  font-size: 16px;
}

#root b {
  font-weight: 500;
}

#root a {
  color: #0B2E34;
  font-weight: 500;
}

#root .Mui-error a {
  color: rgb(244, 67, 54);
}

/*
Modify Contract
*/

.wizard__step {
  margin-top: 32px;
  padding: 20px 24px;
}

.MuiStepLabel-label {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.MuiStepLabel-label.MuiStepLabel-completed {
  font-weight: 400 !important;
}

.MuiStepLabel-label.Mui-error {
  color: rgb(97, 26, 21) !important;
}

/*
StepHeader Component
*/

.header {
  margin-bottom: 24px;
}

.header__text {
  color: #444444;
  font-size: 21px;
  font-weight: 400;
}

.ov-theme {
  background: #F0F3EC;
  color: #aa6161;
}

.ov-theme .header {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 1rem 1.5rem;
  font-size: 18px;
  background: #fff;
}

.ov-theme .header__text {
  color: #0B2E34;
  font-size: 18px;
  font-weight: 700;
}

.ov-theme .step-body {
  padding: 24px 24px;
  background: #ffffff;
}

.MuiTypography-body1 p:first-of-type {
  margin: 3px 0px 0px;
}

